.slider {
    border-top: 1px solid #404040;
    box-shadow: 0 2px 20px -10px #8471712b;
    height: 40px;
    background-color: #222221;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1021;
    width: fit-content;
}

.slider-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.slider-list > li {
    display: inline;
    width: fit-content;
    padding: 10px;
}

.slider-list > li > a {
    text-decoration: none;
    color: white;
    font-size: 10.6pt;
    white-space: nowrap;
    overflow: hidden;
}
